.App {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.validJSON {
  background-color: green;
  width: 100px;
  height: 50px;
}

.validJSON:before {
  content: 'Valid JSON'
}

.invalidJSON {
  background-color: red;
  width: 100px;
  height: 50px;
}

.invalidJSON:before {
  content: 'Invalid JSON'
}

.editor {
  margin: 20px;
}

.node {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  width: auto;
  height: auto;
  background-color: orange;
  display: flex;
  justify-content: center;
}

.leaf {
  border: 1px dotted black;
  background-color: green;
}

.text-field {
  width: 75%;
}

.selected {
  border: 5px solid red;
}

input {
  width: 100px;
  height: 100px;
}
